.AddNoteInput-box {
  /* box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff; */
  box-shadow: inset 1px 1px 1px #cbced1, inset -1px -1px 1px #fff;
}

.bg-image {
  background-image: url("./assets/nbg.jpeg");
  background-blend-mode: multiply;
  background-size: contain;
  min-height: 100vh;
}

select option {
  background-color: #000000;
  height: 36px !;
}

.drag-shaking{
  animation: tilt-shaking 0.3s infinite;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}